name: Deploy to GH Pages
on:
  push:
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: npm install
      - run: npm run build # build step bundles static assets into /build
      - uses: actions/upload-pages-artifact@v3
        with:
          name: build # serve build - yasss
          path: ./build
      - uses: actions/deploy-pages@v4
